body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding-bottom: 20px;
}

.center {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  }

.container {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0;
}

#header {
  background: rgb(33,33,33);  /* fallback for old browsers */
  background-image: radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(73,73,73) 0px, rgb(73,73,73) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  color: white;
}

#about {
  background: #0068a5;  /* fallback for old browsers */
  background-image: linear-gradient(330deg, rgba(225, 225, 225, 0.05) 0%, rgba(225, 225, 225, 0.05) 33.333%,rgba(114, 114, 114, 0.05) 33.333%, rgba(114, 114, 114, 0.05) 66.666%,rgba(52, 52, 52, 0.05) 66.666%, rgba(52, 52, 52, 0.05) 99.999%),linear-gradient(66deg, rgba(181, 181, 181, 0.05) 0%, rgba(181, 181, 181, 0.05) 33.333%,rgba(27, 27, 27, 0.05) 33.333%, rgba(27, 27, 27, 0.05) 66.666%,rgba(251, 251, 251, 0.05) 66.666%, rgba(251, 251, 251, 0.05) 99.999%),linear-gradient(225deg, rgba(98, 98, 98, 0.05) 0%, rgba(98, 98, 98, 0.05) 33.333%,rgba(222, 222, 222, 0.05) 33.333%, rgba(222, 222, 222, 0.05) 66.666%,rgba(228, 228, 228, 0.05) 66.666%, rgba(228, 228, 228, 0.05) 99.999%),linear-gradient(90deg, rgb(28, 20, 63),rgb(40, 160, 253));
  color: white;
}

#skills {
  background-image: url('../images/skills.jpg');
  background-size: cover;
  color: white; 
}

#project {
  background: rgb(25, 190, 119);  /* fallback for old browsers */
  background-image: linear-gradient(45deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%,rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%,rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%,rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%,rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%,rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%,rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%);
  color: white;
}

#education {
  background: rgb(187, 31, 80);  /* fallback for old browsers */
  background-image: linear-gradient(225deg, rgba(187, 31, 80,0.5) 0%, rgba(187, 31, 80,0.5) 34%,transparent 34%, transparent 53%,rgba(119, 9, 85,0.5) 53%, rgba(119, 9, 85,0.5) 61%,rgba(102, 3, 86,0.5) 61%, rgba(102, 3, 86,0.5) 76%,rgba(170, 26, 81,0.5) 76%, rgba(170, 26, 81,0.5) 84%,rgba(153, 20, 83,0.5) 84%, rgba(153, 20, 83,0.5) 100%),linear-gradient(315deg, rgb(187, 31, 80) 0%, rgb(187, 31, 80) 15%,transparent 15%, transparent 18%,transparent 18%, transparent 20%,rgb(102, 3, 86) 20%, rgb(102, 3, 86) 41%,rgb(170, 26, 81) 41%, rgb(170, 26, 81) 49%,rgb(153, 20, 83) 49%, rgb(153, 20, 83) 100%),linear-gradient(315deg, rgb(163,163,163),rgb(163,163,163));
  color: white;
}

#organization {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);  
}

#hobby {
  background-image: url('../images/hobby.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

#footer {
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  color: white;
}

#footer a{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  text-align: center;
  margin: 5px 10px;
  color: rgba(255, 255, 255, 0.584)
}

#footer a:hover{
  color: white;
}

#grid section{
  margin-bottom: 30px;
}

@media (min-width: 780px) {
  #grid { display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; }
}
